on: 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'ACCOUNT SID'     
        required: true
      tags:
        description: 'ACCOUN SECRET'
jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Log level: ${{ github.event.inputs.logLevel }}"
        echo "Tags: ${{ github.event.inputs.tags }}" 
